<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fivetrue.gimpo.ac05">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--GCM PERMISSIONS -->
    <permission android:name="com.fivetrue.gimpo.ac05.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.fivetrue.gimpo.ac05.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationEX">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NaverLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentAppTheme"/>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.UserInfoInputActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.NoticeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoticeActivityTheme"/>

        <activity
            android:name=".ui.InfomationImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InfomationActivityTheme"/>

        <activity
            android:name=".ui.CafeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CafeActivityTheme"/>

        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ImageDetailActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.NotificationService"/>

        <service
            android:name=".service.GCMService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.fivetrue.gimpo.ac05" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="26092c681a23dd24c85511f383cc76702aa4e5ff" />
    </application>

</manifest>
